.card {
    display: inline-block;
    box-shadow: 0 0 7px 0 hsl(0, 0%, 62%);
    overflow: hidden;
    border-radius: 4px;

    & > img {
        width: 100px;

        /* Compensate for overflowing path in card SVG */
        margin-bottom: -4px;
    }

    &.card__placeholder {
        visibility: hidden;
        width: 0;
        margin-right: 0;
    }
}

.hand {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    & > .card {
        margin-right: -50px;
    }
}
