.hand {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    & > .card {
        margin-right: -50px;
    }
}

.card {
    display: inline-block;

    & > img {
        width: 100px;
        box-shadow: 0 0 7px 0 hsl(0, 0%, 62%);
    }

    &.card__placeholder {
        visibility: hidden;
        width: 0;
        margin-right: 0;
    }
}
